.error {
    color: red;
    font-size: 0.8em;
    margin-top: 0.5em;
}
#root {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
.landingPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.landingPageContent {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.landingPageContent > .container {
  padding: 2em;
}




