.projectHeader {
    font-size: 1.5em;
}
.projectHeader * {
    font-size: inherit;
}

.navbar-brand {
    font-size: 1.5em;
}

nav.navbar {
    padding: 0.5em 1.5em;
}

.navbar-nav {
    align-items: center;
    gap: 1em;
}

.navbar-collapse {
    justify-content: end;
}
.navbar-toggler.collapsed {
    
}