.landingPage {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .landingPageContent {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .landingPageContent > .container {
    padding: 2em;
  }